body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #020617;
  padding: 30px;
  border-radius: 12px;
  width: 500px;
  box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

h1 {
  text-align: center;
  color: #38bdf8;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

pre {
  background: #020617;
  padding: 15px;
  border-radius: 6px;
  margin-top: 15px;
  white-space: pre-wrap;
}
